{% extends "auth_layout.html"%} 
{% from "helpers/_forms.html" import render_field %} 

{% block container %}
<form method="post" class="form">
  <h3>Registro</h3>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  {{ render_field(form.honeypot) }}
  <div class="med_cont">
    {{ render_field(form.nombres, class="form-control", placeholder="Nombres")
    }}
  </div>
  <div class="med_cont">
    {{ render_field(form.apellidos, class="form-control",
    placeholder="Apellidos") }}
  </div>
  <div class="full_content">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
{% endblock %}